<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="NhanVien" value="duoclv"/>
    <add key="Gio_CRM" value="23"/>
    <add key="ChayLai" value="true"/>
    <add key="SOURCE_APP" value="E:\Source\CRM\Browser\Browser_jira.exe"/>
  </appSettings>
</configuration>